<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GTBench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GTBench.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GTBench.Properties.Settings>
            <setting name="ProjectID" serializeAs="String">
                <value />
            </setting>
            <setting name="LocationID" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelID" serializeAs="String">
                <value />
            </setting>
            <setting name="GlossaryID" serializeAs="String">
                <value />
            </setting>
            <setting name="GlossaryIgnoresCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LabelKey" serializeAs="String">
                <value />
            </setting>
            <setting name="LabelValue" serializeAs="String">
                <value />
            </setting>
            <setting name="CredentialsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MimeType" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="RunningGlossaryOperations" serializeAs="String">
                <value />
            </setting>
        </GTBench.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GTBench.Properties.Settings>
            <setting name="MinimumOperationPollInterval" serializeAs="String">
                <value>00:00:01</value>
            </setting>
            <setting name="MaximumOperationPollInterval" serializeAs="String">
                <value>00:00:20</value>
            </setting>
        </GTBench.Properties.Settings>
    </applicationSettings>
</configuration>